
.tooltip > .tooltip-inner {
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
}

.content-wrapper-login {
    background-image: url("../imagenes/wall-3231116_1920.jpg");
    background-size: 100%;
}
.cartel{
    margin-top: 5%;
}

.brand-text, .fa-search,.fa-bars{
    color: #f33784;
}


.content-wrapper{
    background-image: url("../imagenes/wall-3231116_1920.jpg");
}





